body {
  background-color: black;
}

h1 {
  margin: 15px;
  padding: 6px 8px;
  color: palevioletred;
  text-align: center;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  border-bottom: 5px solid rgb(224, 57, 85);


}

h2 {}